.hideSidebar::-webkit-scrollbar {
    width: 6px;
}

.hideSidebar::-webkit-scrollbar-track {
    background: none;
}

.hideSidebar::-webkit-scrollbar-thumb {
    background-color: rgba(128, 127, 127, 0.67);
    border-radius: 20px;
}